= form_for @transact do |f|
  - if @transact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transact.errors.count, "error")} prohibited this transact from being saved:"
      %ul
        - @transact.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
