#wrapper
  .side-menu
    .side-menu__page-title
      MENU
    - if current_user == nil
      .side-menu__list.link-hover
        = link_to "ログイン", login_path
      .side-menu__list.link-hover
        = link_to "新規登録", signup_path
      .side-menu__list.link-hover
        = link_to "「買います」募集一覧", items_path
    - else
      .side-menu__list.link-hover
        = link_to "「買います」募集一覧", items_path
      .side-menu__list.link-hover
        = link_to '「買います」募集を作る', new_item_path
      .side-menu__list.link-hover
        = link_to '「買います」募集をした商品 - 募集中', show_myself_items_path
      .side-menu__list.link-hover
        = link_to '「買います」募集をした商品 - 売買成立',show_close_myself_items_path
      .side-menu__list.link-hover
        = link_to '「売ります」をした商品 - 一覧', show_sell_items_path
      .side-menu__list.link-hover
        %i.fas.fa-bookmark.yellow
        = link_to 'ウォッチリスト'
      .side-menu__list.link-hover
        = link_to 'ログアウト', logout_path


