#wrapper
  .side-menu
    .side-menu__page-title
      MENU
    .side-menu__list.link-hover
      = link_to "「買います」募集一覧", items_path
    .side-menu__list.link-hover
      = link_to '「買います」募集を作る', new_item_path
    .side-menu__list.link-hover
      = link_to '作った「買います」募集一覧'
    .side-menu__list.link-hover
      = link_to '「売ります」をした一覧'
    .side-menu__list.link-hover
      = link_to 'ウォッチリスト'


