#wrapper
  .main
    .main__list
      .main__list__page-title
        買取募集一覧
      - @items.each do |item|
        = link_to(item) do
          .item-box
            .item-box__day
              = item.created_at.to_s(:datetime_jp)
            .item-box__title
              「
              = item.title
              」を売ってください！！
            .item-box__price
              = item.price
              円で買います！
            .item-box__name
              = item.user.email


      -# %h1 Listing items
      -# %p

      -# %table
      -#   %thead
      -#     %tr
      -#       %th User
      -#       %th Title
      -#       %th Details
      -#       %th Price
      -#       %th
      -#       %th
      -#       %th

      -#   %tbody
          -# - @items.each do |item|
          -#   %tr
          -#     %td= item.user.email
          -#     %td= item.title
          -#     %td= item.details
          -#     %td= item.price
          -#     %td= link_to 'Show', item
          -#     - if item.seller_id != nil
          -#       %td= "売買成立"
          -#     - elsif current_user == nil
          -#     - elsif current_user.id == item.user_id
          -#       %td= link_to 'Edit', edit_item_path(item)
          -#       %td= link_to 'Destroy', item, method: :delete, data: { confirm: '本当に削除しますか?' }
          -#     - else

      %br

    .main__side-menu
      = render 'side-menu'