%p
  %b Title:
  = @item.title
%p
  %b Details:
  = @item.details
%p
  %b Price:
  = @item.price

- if current_user.id != @item.user_id
  = form_for @item do |f|
    %p
      = f.hidden_field :seller_id, value: current_user.id
      - if @item.seller_id != nil
        %p
          売買成立
      - else
        = f.submit '売ります'


- if current_user.id == @item.user_id
  = link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
