%p
  %b Title:
  = @item.title
%p
  %b Details:
  = @item.details
%p
  %b Price:
  = @item.price

- if current_user.id != @item.user_id
  = form_with(mode: item, local: true) do |f|
    %p
      売ります


- if current_user.id == @item.user_id
  = link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
