#wrapper
  .main
    .main__list
      .main__list__page-title
        「売ります」をした一覧
      - @items.each do |item|
        = link_to(item) do
          .item-box.link-hover
            - if item.seller_id != nil
              .triangle
              .item-box__day
                = item.created_at.to_s(:datetime_jp)
              .item-box__title
                = item.title
              .item-box__price
                = item.price
                円
            - else
              .item-box__day
                = item.created_at.to_s(:datetime_jp)
              .item-box__title
                「
                = item.title
                」を買います！！
              .item-box__price
                = item.price
                円
            .item-box__name
              = item.user.email
              - if current_user == nil
              - elsif current_user.id == item.user_id and item.seller_id == nil
                .edit-destroy-box
                  = link_to '編集', edit_item_path(item)
                  = link_to '削除', item, class: "margin-left-10", method: :delete, data: { confirm: '本当に削除しますか?' }
              - else
              
    .main__side-menu
      = render 'side-menu'
