%p
  %b Title:
  = @item.title
%p
  %b Details:
  = @item.details
%p
  %b Price:
  = @item.price

- if current_user.id != @item.user_id
  = form_with(model: @transact, local: true) do |f|
    %p
      = f.submit "売ります", method: :update
      -# = f.submit "売ります", method: :update, data: { confirm: '本当に売りますか?' }

- if current_user.id == @item.user_id
  = link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
